<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary" class="menu">
  <span>5 Друзей ВКонтакте</span>
  <div>
    <button mat-flat-button color="primary" (click)="toFriendsList()" *ngIf="canUse" class="frButton">
      <b>Список Друзей</b>
    </button>
    <button mat-flat-button color="primary" (click)="Exit()" *ngIf="canUse">
      <b>Выход</b>
    </button>
    <button mat-flat-button color="primary" (click)="login()" *ngIf="!canUse">
      <b>Логин</b>
    </button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
